/target
logs*
.vscode
rustc-ice-*.txt
*.las
*.sqlite*
smooth-diff-drive-academy/
super_sorted.txt
publishing/

lunabase/camera.sdp
*.zst
*.pyc
dump/

neura-filter-academy/*=*
neura-filter-academy/test
neura-filter-academy/train
/lunabase/export/
tree.txt